@import url('https://rsms.me/inter/inter.css');

:root {
    --color-light: white;
    --color-dark: #212121;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: rgb(97, 4, 97);

    --size-bezel: .5rem;
    --size-radius: 4px;

    line-height: 1.4;

    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    padding: 0 calc(var(--size-bezel) * 3);
}

.btn-primary {
    background-color: var(--color-primary);
    /* border-color: #your_custom_color; if needed */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    all: unset;
    width: 100%;
    height: 100vh;
    background-color: #212121 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: transparent !important;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-weight: 900;
}

.custom-card {
    color: white;
    /* background: var(--color-background); */
    padding: calc(4 * var(--size-bezel));
    margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, rgba(255, 255, 255,.4));
    /* box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor); */
}

.slide-left {
    animation: slide-up 0.3s ease;
}


.custom-btn {
    color: currentColor;
    padding: var(--size-bezel) calc(var(--size-bezel) * 2);
    background: rgb(97, 4, 97);
    border: none;
    border-radius: var(--size-radius);
    font-weight: 900;
    position: relative;
}
.custom-btn span {
    position: relative;
    z-index: 1;
    color: white;
}

    .custom-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform: scaleX(0);
    inset: 0;
    transform-origin: 50% 0;
    transition: .2s linear;
}


.custom-btn:hover:before{
    transform-origin: 50% 0;
    background-color: rgba(149, 223, 29, 0.658);
    transform: scaleX(1);
    border-radius: inherit;
}

.custom-outline-btn {
    color: currentColor;
    padding: var(--size-bezel) calc(var(--size-bezel) * 2);
    background: rgb(97, 4, 97);
    border: none;
    border-radius: var(--size-radius);
    font-weight: 900;
}

button:focus{
    outline: none;
    border: none;
}

.custom-outline-btn:hover{
    background-color: rgb(3, 228, 89);
    transition: .2s linear;
}

.answer {
    display: flex;
    flex-direction: row;
}

button+button {
    margin-left: calc(var(--size-bezel) * 1);
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: calc(var(--size-bezel) * 2.5);
    justify-content: space-between;
    align-items: center;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

input[type="radio"]+label {
    display: inline-block;
    padding: var(--size-bezel) calc(var(--size-bezel) * 2);
    background: rgb(97, 4, 97);

    /* color: currentColor; */
    border-radius: var(--size-radius);
    font-weight: 900;
    cursor: pointer;
    border-color: #bbb #888 #888 #bbb;
    border-style: solid;
    border-width: 2px;
    width: 100%;

    
}


input[type="radio"]+label:hover {
    background-color: rgb(3, 228, 89);
    border-color: #bbb #888 #888 #bbb;
}

input[type="radio"]+label:active {
    /* background-color: red !important; */
    border-color: #ccc !important;
    color: currentColor !important;
}

input[type="radio"]:checked+label {
    background: green !important
}